
.Navbar-bg{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.028448879551820738) 46%, rgba(255,255,255,0.04805672268907568) 100%);
}

.nav-link{
    color: white;
}

.nav-ul{
    margin-left: 20px;
}
/* margin dos li na nav */
.navbar-nav .nav-item {
    margin-right: 20px;
}

/*  hover dos elementos nav */
.navbar .navbar-nav .nav-link:hover{
    color: #fe7e00;
}
.navbar .navbar-nav .nav-link:focus{
    color: #fe7e00;
}
.navbar .navbar-nav .nav-icone:hover {
    color: white;
}
.navbar .navbar-nav .nav-icone:focus {
    color: white;
}

.navbar-toggler{
    border-color: #ffffff;
}

.icone-opcoes-nav{
    color: #ffffff;
}

/* imput de pesquisa */
.search-bar{
    margin-right: 20px;
}

.form-search {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-0%);
    transition: all 1s ;
    width: 30px;
    height: 35px;
    box-sizing: border-box;
    padding: 5px;
}



.input-search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    background: none;
    border-radius: 10px;
    border: 1px solid #fe7e00;
    caret-color: #fe7e00;
    display: none;
    font-size: 1em;
    border-radius: 10px;
    padding: 0 20px;
}

input[type="search"]::-webkit-search-cancel-button{
    position:relative;
    right:20px;
}


.input-search::placeholder{
    color: #ffffff;
}

.fa-search {
    box-sizing: border-box;
    padding: 10px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.form-search:hover {
    width: 300px;
    cursor: pointer;
}

.form-search:hover .input-search {
    display: block;
}

.logout-hover:hover {
    color: red;
}
.logout-hover:focus {
    color: red;
}

.dropdown-item{
    color: #ffffff;
}

.dropdown-item:hover {
    background: none;
}

.menu-item:hover {
    color: #ffffff;
}

.menu-item:focus {
    color: #ffffff;
}

.menu-nav{
    background-color: #fe7e00;
    /* background: none; */
    padding: 10px;
    font-size: 13px;
}
